* {
  font-size: 14px;
  font-family: "Anton", sans-serif;
  margin: auto;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 10vh;
  background-color: #242331;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-svg {
  width: 20%;
  height: 80%;
}

.container {
  width: 100%;
  height: 90%;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #b88b4a;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.add-toilet-container {
  display: flex;
  margin-top: 10vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mapid {
  margin-top: 5%;
  height: 70%;
  width: 70%;
}
