* {
  font-size: 16px;
}

.header {
  --background: #a27035;
  height: 10vh;
}

.ion-text-center {
  --color: #ddca7d;
}

.logo {
  width: 50%;
  height: 100%;
}

.main-container {
  border: 1px solid #533e2d;
  border-radius: 5px;
  padding: 1em 1em 1em 1em; 
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #533e2d;
}

.map-container {
  height: 70%; 
  display: flex; 
  flex-flow: column;
  justify-content: flex-start;
}

.text {
  color: #ddca7d;
}

.background {
  --background: #242331;
}

.button {
  --background: #b88b4a;
}
